body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_progress{
    position: relative;
    width: 350px;
    height: 30px;
    background-color: green;
}

.my_bar{
    position: absolute;
    width: 70%;
    height: 100%;
}

.label{
    text-align: center;
    line-height: 30px;
    color: white;
    width: 350px;
}

.hik{
    display: none;
}

.gifka{
    display: none;
}

.text{
    background-color: deeppink;
    text-align: left;
    font-size: 20px;
    color: aqua;
    display: inline-block;
}

.block{
    width: 350px;
    height: 100px;
    display: inline-block;
}

.click{
    margin: auto;
    display: flex;

}